textarea{
    height: 100%;
}
        #conc{
            width:700px;
            height:40px;
        }
        #COA_BODY{
            margin-top: 200px;
        }
        #COA{
            padding-right:25px;
            padding-left:25px;

        }
        #temp_table td{
            border: 1px solid black;
        }

        #side,.side{
            background-color:#CCCCCC;
            font-size:11px;
			

        }
		
	
        #top_row{
            background-color:#CCCCCC;
        }
        table { 
            border-collapse:collapse;

        }
        p{
            margin-bottom: 0px;
            font-weight: bolder;
        }
        #label_name{
            font-size:11px;
        }
        #wording{
            font-size: 10px;
        }
       textarea.det_st {
    white-space: pre-wrap;
   
    
    text-align: justify;
    -moz-text-align: center; /* Firefox 12+ */
    text-align: center;
}
        .det{
            font-weight: bold;
            width: 175px;
    
        }

        #hes{
            font-type: Book Antiqua;
            font-weight: bolder;
            font-size: 12px;
        }
        #signatories{
            font-size: 10px;
        }
   

        #COA_AREA{
           
            height: auto;
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid black;
            box-shadow: 3px;
            font-size: 12px;
            font-type:Book Antiqua;

        }
        #content{
            margin: 10px;
        }

    
        form input:focus {
            /* No outline on focus */
            outline: 0;
            /* a darker border ? */
            border: 1px solid #bbb;
        }
        #coa_top{
            width:867.5px;
            height:300px;
        }
        #coa_top_table{
            width:100%;
            height: 300px;
        }
        #top_head{
            width:100px;
        }
        #middle_head{
            width:100px;

        }
        #top_row{
            height: 50px;
        }
        #p_name{
            float: right;
            margin-right: 50px;
        }
        .left_c{
            width:120px;
            margin-left: 5px;

        }
        .test_font{
            font-size: 18px;
        }
        input[type=text]{
            text-align: center;
        }
        .width{
            width: 180px;
            text-align: left;
        }
        .result_table tr{
           border:black solid 1px;
           padding: 0px;
           margin: 0px;
           
        }
        .result_table tr{
           border:black solid 1px;
           
        }
        .tbody_data{
     
           border:black solid 1px;
           margin:0 auto 0 auto; 
         
        
    
           
        }
        thead td{
           border:black solid 1px;

        }
        .tdbold{
            font-weight: bolder;
        }
        thead th{
         border:black solid 1px;
  
        }
        
      .scrollingBox{
         top:200px;
        }
        .tests_table{
            position: absolute;
            width:220px;
            top:100px;
        }
        .tests_table th{
            font-size: 13px;
        }
   
        
          
  div.fadeMe {
  
  
    width:100%; 

	
    z-index:10;
    top:0; 
    left:0; 
    position:fixed; 
  }
  
  div.popup {
    position: fixed; 
    left: 50%; top: 50%;
    opacity:0.4;
    width: 50%; height: 50%;
    background: white;     
    border-radius: 3px;
    padding: 10px;
    z-index: 11;
    height: 7%;
    width: 20%
  }
  
  div div.popup {
      position: fixed;
      top: 0;
      right: 10%;
      bottom: 10%;
      left: 10%;
      background-color: red;
      background: blue;
      opacity: .6;
      z-index: 9999999;
      text-align:center;
    }
    
    input.designator{
        text-align: left;
    }